html {
  font-size: 16px; }

html,
body {
  width: 100%;
  height: 100%; }

ul,
li {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

input:focus,
textarea:focus {
  outline: none;
  border: 3px solid #dde3bd; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  position: relative; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("/fonts/AlegreyaSans-Thin.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-ThinItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Light.woff2") format("woff2"), url("/fonts/AlegreyaSans-Light.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-LightItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans/AlegreyaSans-LightItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/fonts/") format("woff2"), url("/fonts/AlegreyaSans-Regular.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Italic.woff2") format("woff2"), url("/fonts/AlegreyaSans-Italic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("/fonts/AlegreyaSans-Medium.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-MediumItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("/fonts/AlegreyaSans-Bold.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-BoldItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("/fonts/AlegreyaSans/AlegreyaSans-ExtraBold.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Black.woff2") format("woff2"), url("/fonts/AlegreyaSans-Black.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-BlackItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.about-us {
  position: relative;
  background-image: url(../img/leaf-pattern.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .about-us {
      width: 100%;
      height: 100%; } }
  @media screen and (max-width: 480px) {
    .about-us {
      background-image: none; } }

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.info-title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 7.1875rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .info-title {
      margin: 3.1875rem 0 0 0; } }

.info__txt {
  width: 25.375rem;
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.4375rem 0 0 0; }

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 3.1875rem 0 0 0; }
  @media screen and (max-width: 768px) {
    .discription {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0.1875rem 0 0 0;
      padding: 0 0 82px 0; } }

.discription__content {
  text-align: center;
  margin: 2.1875rem 0 0 0; }
  @media screen and (max-width: 480px) {
    .discription__content {
      text-align: left;
      margin-left: 13px; } }

.discription__icon {
  width: 7.8125rem;
  height: 7.8125rem;
  background-color: #f2f5f4;
  border-radius: 50%;
  margin: 1.9375rem auto; }

.svg {
  width: 4.375rem;
  height: 7.5625rem;
  fill: #f2f5f4; }

.discription__title {
  color: #000000;
  font-family: "Alegreya Sans";
  font-size: 1.6875rem;
  font-weight: 700;
  margin: 1.5625rem 0 0 0; }

.discription__txt {
  width: 19.875rem;
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .discription__txt {
      width: 25.875rem; } }
  @media screen and (max-width: 480px) {
    .discription__txt {
      width: 19.875rem; } }

.discription__item {
  position: relative;
  margin: 0 0 0 2.8125rem; }
  @media screen and (max-width: 768px) {
    .discription__item {
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .discription__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.discription__item:first-child::before {
  content: "";
  position: absolute;
  top: 4.875rem;
  right: -2.125rem;
  width: 4.1875rem;
  height: 1.3125rem;
  background-image: url(../img/icon_png/dots.png);
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .discription__item:first-child::before {
      display: none; } }

.discription__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 4.875rem;
  right: -2.125rem;
  width: 4.1875rem;
  height: 1.3125rem;
  background-image: url(../img/icon_png/dots.png);
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .discription__item:nth-child(2)::before {
      display: none; } }

.img-bg::before {
  content: url(../img/razz.png);
  position: relative; }
  @media screen and (max-width: 768px) {
    .img-bg::before {
      display: none; } }

.fixed-menu {
  position: fixed;
  top: 11.0625rem;
  right: 10.75rem;
  z-index: 2; }
  @media screen and (max-width: 480px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__dot {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  margin-bottom: 0.1875rem;
  position: relative; }
  .fixed-menu__dot--active {
    border-color: white; }
  .fixed-menu__dot:before {
    content: '';
    width: 0.375rem;
    height: 0.375rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.footer {
  background-color: #ffffff;
  position: obsolute; }

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .container__footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.contacts {
  padding: 1.25rem; }

.contacts {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .contacts {
      width: 62%;
      text-align: center; } }

.adress {
  color: #010101;
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  font-weight: 400; }

.phone__adress {
  width: 0.75rem;
  height: 0.6875rem; }

.phone__footer {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-transform: uppercase; }

.social__link {
  margin: 1.625rem 1.25rem 0 0; }
  @media screen and (max-width: 480px) {
    .social__link {
      margin: -0.375rem 1.25rem 26px 1px;
      text-align: center; } }

.social__icon {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .social__icon {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social__img {
  width: 1.5625rem;
  height: 0.9375rem;
  fill: rgba(0, 0, 0, 0.3); }
  .social__img:hover {
    fill: #000;
    -webkit-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s; }

.header__container {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.nav {
  margin-left: 3.125rem; }

.nav__link {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin: 0 1.875rem 0 0; }
  .nav__link:hover {
    color: #00accf; }
  @media screen and (max-width: 768px) {
    .nav__link {
      display: none; } }

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.burger-wrap {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  display: none; }
  @media screen and (max-width: 768px) {
    .burger-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.burger {
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  right: 0;
  margin-right: 25PX; }
  .burger:before {
    content: "";
    width: 1.5rem;
    height: 0.25rem;
    position: absolute;
    bottom: 0.5625rem;
    border-radius: 0.125rem;
    background-color: #fff; }
  .burger::after {
    content: "";
    width: 1.5rem;
    height: 0.25rem;
    position: absolute;
    background-color: #fff;
    top: 0.5625rem;
    border-radius: 0.125rem; }

.reviews {
  background-color: #ffffff;
  position: relative;
  background-image: url(../img/berry.png);
  background-repeat: no-repeat;
  background-position: 81% 9.5%;
  padding: 3.125rem 0 3.75rem 0;
  position: relative;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .reviews {
      background-position: 108% 2.5%; } }

.reviews__photo-title {
  width: 254px;
  height: 260px;
  max-width: 254px;
  max-height: 2560px; }
  @media screen and (max-width: 768px) {
    .reviews__photo-title {
      width: 204px;
      height: 229px;
      max-width: 204px;
      max-height: 209px; } }
  @media screen and (max-width: 480px) {
    .reviews__photo-title {
      width: 122px;
      height: 125px;
      max-width: 122px;
      max-height: 125px; } }

.container--reviews {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 58.75rem; }

.reviews__wrap {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews-title {
  color: #323232;
  font-family: "Alegreya Sans";
  font-size: 30px;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    .reviews-title {
      margin: 4.9375rem 0 3.75rem 0; } }

.reviews-content {
  width: 58.75rem;
  height: 21.5625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews-content {
      min-height: 30%; } }

.reviews-list {
  z-index: 10;
  width: 100%; }

.reviews-item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviews-item--active {
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.reviews-item--1 {
  width: 100%;
  margin-top: 3.125rem;
  position: relative;
  padding: 2.8125rem;
  background-color: #f8faf9;
  background-image: url(/img/imgreviews.png);
  background-repeat: no-repeat;
  background-position: top right; }
  @media screen and (max-width: 768px) {
    .reviews-item--1 {
      width: 68%;
      margin-top: 6.125rem;
      position: relative;
      padding: 2.8125rem;
      background-color: #f8faf9;
      background-image: url(/img/imgreviews.png);
      background-repeat: no-repeat;
      background-position: top right;
      margin: 0 auto; } }
  @media screen and (max-width: 768px) {
    .reviews-item--1 {
      width: 100%;
      margin-top: 6.125rem;
      position: relative;
      padding: 2.8125rem;
      background-color: #f8faf9;
      background-image: url(/img/imgreviews.png);
      background-repeat: no-repeat;
      background-position: top right;
      margin: 0 auto; } }

.reviews__photo {
  margin-right: 1.25rem;
  position: relative;
  z-index: 10; }

.rewiews__comment {
  width: 25.875rem;
  text-align: left; }

.reviews__comment__title {
  color: #323232;
  font-family: "Alegreya Sans";
  font-size: 1.875rem;
  font-weight: 500;
  margin: 1.5625rem 0 1.875rem 0; }

.reviews__comment__txt {
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 2rem 0; }

.reviews__carusel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 20; }

.carusel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.6875rem 0.6875rem 0 0; }

.carusel__photo {
  width: 4.1875rem;
  height: 4.25rem;
  position: obsolute;
  border: 0.375rem solid #0f5a47;
  background-color: #efefef;
  border-radius: 50%; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.875rem; } }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.welcome-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/img/backgroundone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 768px) {
    .welcome-page {
      background-image: url(/img/bg786.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 100%; } }
  @media screen and (max-width: 480px) {
    .welcome-page {
      background-image: url(/img/bg480.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 100%; } }
  .welcome-page::before {
    content: "";
    display: block;
    position: absolute;
    width: 3.6875rem;
    height: 7rem;
    background-image: url(../img/leafwalcome.png);
    bottom: -8%;
    left: 10%; }
    @media screen and (max-width: 768px) {
      .welcome-page::before {
        background-image: none; } }

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .main__container {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 27%;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .main__container {
      margin-top: 6%; } }

.leaf,
.delivery,
.tape {
  fill: transparent;
  stroke: #b0f7ff;
  width: 2.75rem;
  height: 2.5625rem; }

.icon-tel {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  text-transform: uppercase; }
  .icon-tel:before {
    content: url(../img/icon_png/phone_.png);
    margin: 0 5% 0 0; }

.content__title {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.75rem;
  text-transform: uppercase;
  margin-top: 6.25rem; }
  @media screen and (max-width: 768px) {
    .content__title {
      margin-top: 0.25rem; } }

.content__txt {
  color: #ffffff;
  max-width: 23.375rem;
  font-size: 1.3125rem;
  font-weight: 400;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  margin-bottom: 2.875rem;
  margin-top: 1.375rem; }

.content-button {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0.625rem rgba(63, 63, 63, 0.25);
  box-shadow: 0 0 0.625rem rgba(63, 63, 63, 0.25);
  font-family: "Alegreya Sans";
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #0f5a47;
  border-radius: 1.875rem;
  padding: 1.25rem 2.125rem; }
  .content-button:hover {
    background-color: #61c4d9;
    border: 0.125rem solid #00accf;
    color: #0f5a47; }

.content-button:active {
  background-color: #ffffff;
  color: #0f5a47; }

.content__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content__right {
  width: 40%; }
  @media screen and (max-width: 768px) {
    .content__right {
      width: 60%;
      text-align: center;
      padding: 30% 0 0 0; } }
  @media screen and (max-width: 480px) {
    .content__right {
      width: 82%;
      text-align: center; } }

.delivery__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1rem;
  font-weight: 400; }

.leaf__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1rem;
  font-weight: 400; }

.pros {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
  margin-top: 30%; }
  @media screen and (max-width: 768px) {
    .pros {
      margin-top: 11%;
      margin-bottom: 7%; } }

.pros__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20%; }
  @media screen and (max-width: 480px) {
    .pros__item {
      margin-right: 4%; } }

.svg__vrap {
  margin-right: 0.625rem; }

.leaf__txt {
  max-width: 54.66%;
  font-size: 1em; }

.content__left {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .content__left {
      width: 0; } }
  .content__left::before {
    content: "";
    display: block;
    position: absolute;
    width: 43.75rem;
    height: 48.75rem;
    background-image: url(/img/bar.png);
    background-repeat: no-repeat;
    top: 9%;
    right: 2%; }
    @media screen and (max-width: 768px) {
      .content__left::before {
        display: none; } }

.img_decor {
  position: absolute;
  top: 60%;
  right: 16%; }
  @media screen and (max-width: 768px) {
    .img_decor {
      display: none; } }

.team__berry {
  position: absolute;
  right: 0;
  top: -36%; }

@media screen and (max-width: 768px) {
  .team {
    height: 100%; } }

.section-title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.875rem; }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 80%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .team__list {
      width: 500px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.team__item {
  position: relative; }
  @media screen and (max-width: 768px) {
    .team__item {
      margin-right: 1.25rem; } }

.worker__img {
  width: 13.875rem;
  max-width: 13.875rem;
  height: 18.125rem;
  max-height: 18.125rem;
  -o-object-fit: contain;
  object-fit: contain; }
  @media screen and (max-width: 480px) {
    .worker__img {
      width: 142px;
      height: 185px; } }

.worker__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.5625rem; }

.worker__name-descript {
  color: #323232;
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  font-weight: 500; }

.worker__name-pic {
  margin-left: 0.625rem;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; }
  .worker__name-pic:hover {
    cursor: pointer; }

.worker__name-pic--rotated {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out; }

.worker__post-title {
  text-align: center;
  margin-top: 0.625rem; }

.worker__post-txt {
  color: #281e1e;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400; }

.worker__post-description {
  text-align: center;
  margin: 0; }

.description-txt {
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 300; }

.worker__descrip--close {
  max-width: 62.5rem;
  -webkit-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in; }

.video {
  background-color: #f8faf9; }

.berry2 {
  display: block;
  position: absolute;
  left: 0;
  top: -17%; }

.blueberries {
  display: block;
  position: absolute;
  left: 11%;
  top: 70%; }
  @media screen and (max-width: 768px) {
    .blueberries {
      display: none; } }

.blackberry {
  display: block;
  position: absolute;
  right: -1.9375rem;
  top: -20%; }
  @media screen and (max-width: 480px) {
    .blackberry {
      right: -2.9375rem;
      top: -7%;
      width: 30%; } }

.leaf_form {
  display: block;
  position: absolute;
  top: 60%;
  right: 4%; }
  @media screen and (max-width: 768px) {
    .leaf_form {
      display: none; } }

.order {
  background-image: url(../img/bg-form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 28.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 5.375rem; }
  @media screen and (max-width: 768px) {
    .form {
      width: 64%;
      margin: 0 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.order__container {
  padding: 5.375rem 0 0 0; }

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.title__form {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.label__txt {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1.25rem; }
  @media screen and (max-width: 768px) {
    .label__txt {
      margin-top: 0.25rem; } }

.label__input {
  width: 13.75rem;
  height: 3.75rem; }

.form__street input {
  width: 28.75rem; }

.form__number input {
  width: 6.25rem;
  margin: 0 1.25rem 0 0; }

.label__textarea {
  width: 460px;
  height: 180px; }
  @media screen and (max-width: 768px) {
    .label__textarea {
      width: 430px; } }
  @media screen and (max-width: 480px) {
    .label__textarea {
      width: 400px;
      height: 106px; } }

.radio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .radio__wrap {
      margin: 9px auto; } }
  @media screen and (max-width: 480px) {
    .radio__wrap {
      margin: 9px auto; } }

.label__radio input[type="radio"] {
  display: none; }

.label__radio input[type="radio"] ~ span {
  position: relative;
  display: inline-block;
  padding: 0.1875rem 0 0.1875rem 1.5625rem;
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.25rem 1.8125rem 0 0; }

.label__radio input[type="radio"] ~ span:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.4375rem;
  height: 1.4375rem;
  background: #fff;
  border-radius: 50%;
  left: 0;
  top: 18%; }

.label__radio input[type="radio"]:checked ~ span::after {
  content: "";
  position: absolute;
  left: 0.3125rem;
  top: 0.75rem;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 100%;
  background-color: #0f5a47; }

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute; }

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 1.75rem;
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 2.3333rem; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.0625rem solid #dddddd;
  background-color: #ffffff; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 0.125rem; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 0.1875rem;
  top: 0.25rem;
  width: 0.625rem;
  height: 0.3125rem;
  border-radius: 0.0625rem;
  border-left: 0.25rem solid #0f5a47;
  border-bottom: 0.25rem solid #0f5a47;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 0.3125rem;
  top: 0.3125rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: #0f5a47; }

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; }

input[type="checkbox"]:checked + label:after {
  opacity: 1; }

.content__button {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0.625rem rgba(63, 63, 63, 0.25);
  box-shadow: 0 0 0.625rem rgba(63, 63, 63, 0.25);
  font-family: "Alegreya Sans - Extra Bold";
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 1.875rem;
  padding: 1.5rem 2.125rem; }

.buttons__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.6111rem; }

.button__order {
  padding: 1rem 2.375rem;
  background-color: #0f5a47;
  border-radius: 1.875rem;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 1.6111rem; }
  .button__order:hover {
    background-color: #cfdeda;
    border: 0.125rem solid #0f5a47;
    color: #0f5a47; }

.button__clear {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 1.125rem;
  font-weight: 400; }

.map {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product__prise {
  background-color: #f8faf9; }

.muesli {
  display: block;
  position: absolute;
  left: 0;
  top: -28%; }
  @media screen and (max-width: 480px) {
    .muesli {
      display: none; } }

.menu {
  background: url(../img/menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }
  .menu::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0rem;
    right: 0;
    opacity: .2; }

.berry-3 {
  display: block;
  position: absolute;
  top: -9%;
  left: 2.0625rem; }

.menu__title {
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  padding-left: 7.28%;
  padding-top: 9.46%;
  color: inherit;
  z-index: 10; }

.menu__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: inherit;
  cursor: pointer; }

.accordion__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.accordion__img {
  position: relative; }

.accordion__pic {
  width: 7.25rem;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(45%);
  filter: brightness(45%); }

.accordion__title {
  position: absolute;
  bottom: 5%;
  left: 25%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: inherit;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: "Alegreya Sans";
  font-size: 3rem;
  font-weight: 500; }

/*# sourceMappingURL=main.css.map */