@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i");
html, body {
  width: 100%;
  height: 100%; }

ul, li {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

input:focus,
textarea:focus {
  outline: none;
  border: 3px solid #dde3bd; }

.section {
  height: 100vh;
  position: relative; }

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Thin.woff2") format("woff2"), url("/fonts/AlegreyaSans-Thin.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-ThinItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-ThinItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Light.woff2") format("woff2"), url("/fonts/AlegreyaSans-Light.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-LightItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans/AlegreyaSans-LightItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/fonts/") format("woff2"), url("/fonts/AlegreyaSans-Regular.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Italic.woff2") format("woff2"), url("/fonts/AlegreyaSans-Italic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Medium.woff2") format("woff2"), url("/fonts/AlegreyaSans-Medium.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-MediumItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-MediumItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Bold.woff2") format("woff2"), url("/fonts/AlegreyaSans-Bold.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-BoldItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-BoldItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-ExtraBold.woff2") format("woff2"), url("/fonts/AlegreyaSans/AlegreyaSans-ExtraBold.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-Black.woff2") format("woff2"), url("/fonts/AlegreyaSans-Black.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: 'Alegreya Sans';
  src: url("/fonts/AlegreyaSans-BlackItalic.woff2") format("woff2"), url("/fonts/AlegreyaSans-BlackItalic.woff") format("woff"), url("/fonts/fontsgugle/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.about-us {
  position: relative;
  background-image: url(../img/leaf-pattern.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  text-align: center; }

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 115px 0 0 0; }

.info__txt {
  width: 406px;
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  margin: 23px 0 0 0; }

.discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 51px 0 0 0; }

.discription__content {
  text-align: center;
  margin: 35px 0 0 0; }

.discription__icon {
  width: 125px;
  height: 125px;
  background-color: #f2f5f4;
  border-radius: 50%;
  margin: 1.9375rem auto; }

.svg {
  width: 70px;
  height: 121px;
  fill: #f2f5f4; }

.discription__title {
  color: #000000;
  font-family: "Alegreya Sans";
  font-size: 27px;
  font-weight: 700;
  margin: 25px 0 0 0; }

.discription__txt {
  width: 318px;
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 300; }

.discription__item {
  position: relative;
  margin: 0 0 0 45px; }

.discription__item:first-child::before {
  content: "";
  position: absolute;
  top: 78px;
  right: -34px;
  width: 67px;
  height: 21px;
  background-image: url(../img/icon_png/dots.png);
  background-repeat: no-repeat; }

.discription__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 78px;
  right: -34px;
  width: 67px;
  height: 21px;
  background-image: url(../img/icon_png/dots.png);
  background-repeat: no-repeat; }

.img-bg::before {
  content: url(../img/razz.png);
  position: relative; }

.fixed-menu {
  position: fixed;
  top: 177px;
  right: 172px;
  z-index: 2; }

.fixed-menu__dot {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative; }
  .fixed-menu__dot--active {
    border-color: white; }
  .fixed-menu__dot:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.footer {
  background-color: #ffffff;
  position: obsolute; }

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contacts {
  padding: 20px; }

.contacts {
  width: 50%; }

.adress {
  color: #010101;
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 400;
  line-height: 23.82px; }

.phone__adress {
  width: 12px;
  height: 11px; }

.phone__footer {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase; }

.social__link {
  margin: 26px 20px 0 0; }

.social__icon {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.social__img {
  width: 25px;
  height: 15px;
  fill: rgba(0, 0, 0, 0.3); }
  .social__img:hover {
    fill: #000;
    -webkit-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s; }

.header__container {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.nav {
  margin-left: 50px; }

.nav__link {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 30px 0 0; }

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews {
  background-color: #ffffff;
  position: relative;
  background-image: url(../img/berry.png);
  background-repeat: no-repeat;
  background-position: 86% 2.5%;
  padding: 0 0 60px 0; }

.container__reviews {
  padding-top: 4.3125rem; }

.reviews__wrap {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.reviews-title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 44px 0; }

.reviews-content {
  width: 940px;
  height: 345px;
  background-image: url(../img/bg-rew.jpg);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.reviews__list {
  padding: 4.79%;
  margin-bottom: 5.33%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__photo {
  margin-right: 20px;
  position: relative;
  z-index: 10; }

.rewiews__comment {
  width: 414px;
  text-align: left; }

.reviews__comment__title {
  color: #323232;
  font-family: "Alegreya Sans";
  font-size: 30px;
  font-weight: 500;
  margin: 25px 0 30px 0; }

.reviews__comment__title {
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400; }

.reviews__comment__txt {
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 32px 0; }

.reviews__carusel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 20; }

.carusel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 27px 11px 0 0; }

.carusel__photo {
  width: 67px;
  height: 68px;
  position: obsolute;
  border: 6px solid #0f5a47;
  background-color: #efefef;
  border-radius: 50%; }

.welcome-page {
  background: url("../img/welcome.jpg") center center/cover no-repeat;
  position: relative; }

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.leaf,
.delivery,
.tape {
  fill: transparent;
  stroke: #b0f7ff;
  width: 732px;
  height: 154px; }

.icon-tel {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase; }
  .icon-tel:before {
    content: url(../img/icon_png/phone_.png);
    margin: 0 5px 0 0; }

.content__title {
  width: 404px;
  height: 160px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase; }

.content__txt {
  width: 341px;
  height: 45px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 400;
  margin: 0 0 70px 0; }

.content-button {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(63, 63, 63, 0.25);
  box-shadow: 0 0 10px rgba(63, 63, 63, 0.25);
  font-family: "Alegreya Sans";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #0f5a47;
  border-radius: 30px;
  padding: 20px 34px; }
  .content-button:active {
    background-color: #CCCFCF;
    opacity: 0.2; }
  .content-button:hover {
    background-color: #61c4d9;
    opacity: 1.2; }

.content__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 68px 0 50px 0; }

.left_img {
  margin: 0 0px 0px 60px; }

.content__right {
  width: 40%; }

.content__left {
  width: 60%; }

.delivery__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400; }

.leaf__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400; }

.tape__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400; }

.berry {
  display: block;
  position: absolute;
  right: 0;
  top: -30%; }

.team {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Alegreya Sans",sans-serif; }

.team__container {
  margin-top: 3.2222rem; }

.section-title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4.2222rem; }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.team__item:first-child {
  margin-left: 0; }

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  max-width: 25%; }

.team__name {
  position: relative;
  color: #323232;
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 500; }

.team__post {
  color: #281e1e;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 500;
  margin: 13px 0 6px 0;
  height: 0;
  overflow: hidden; }

.team__duties {
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 300;
  height: 0;
  overflow: hidden; }

.team__item .team__item_active {
  display: block; }

.video {
  background-color: #f8faf9; }

.berry2 {
  display: block;
  position: absolute;
  left: 0;
  top: -17%; }

.blueberries {
  display: block;
  position: absolute;
  left: 11%;
  top: 70%; }

.blackberry {
  display: block;
  position: absolute;
  right: -31px;
  top: -20%; }

.leaf_form {
  display: block;
  position: absolute;
  top: 60%;
  right: 4%; }

.order {
  background-image: url(../img/bg-form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 28.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 86px; }

.order__container {
  padding: 86px 0 0 0; }

.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.title__form {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.label__txt {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px; }

.label__input {
  width: 13.75rem;
  height: 3.75rem; }

.form__street input {
  width: 28.75rem; }

.form__number input {
  width: 6.25rem;
  margin: 0 20px 0 0; }

.label__textarea {
  width: 25.5556rem;
  height: 10rem; }

.radio__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.label__radio input[type="radio"] {
  display: none; }

.label__radio input[type="radio"] ~ span {
  position: relative;
  display: inline-block;
  padding: 3px 0 3px 25px;
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30.05px;
  margin: 20px 29px 0 0; }

.label__radio input[type="radio"] ~ span:before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  left: 0;
  top: 18%; }

.label__radio input[type="radio"]:checked ~ span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 12px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #0f5a47; }

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute; }

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30.05px;
  cursor: pointer;
  margin-bottom: 2.3333rem; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff; }

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #0f5a47;
  border-bottom: 4px solid #0f5a47;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #0f5a47; }

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; }

input[type="checkbox"]:checked + label:after {
  opacity: 1; }

.content__button {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(63, 63, 63, 0.25);
  box-shadow: 0 0 10px rgba(63, 63, 63, 0.25);
  font-family: "Alegreya Sans - Extra Bold";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 24px 34px; }

.buttons__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1.6111rem; }

.button__order {
  padding: 16px 38px;
  background-color: #0f5a47;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 1.6111rem; }

.button__clear {
  color: #0f5a47;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30.05px; }

.map {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.product__prise {
  background-color: #f8faf9; }

.muesli {
  display: block;
  position: absolute;
  left: 0;
  top: -28%; }

.menu {
  background: url(../img/menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }
  .menu::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    opacity: .2; }

.berry-3 {
  display: block;
  position: absolute;
  top: -9%;
  left: 33px; }

.menu__title {
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  padding-left: 7.28%;
  padding-top: 9.46%;
  color: inherit;
  z-index: 10; }

.menu__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: inherit;
  cursor: pointer; }

.accordion__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.accordion__img {
  position: relative; }

.accordion__pic {
  width: 7.25rem;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(45%);
  filter: brightness(45%); }

.accordion__title {
  position: absolute;
  bottom: 5%;
  left: 25%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: inherit;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: "Alegreya Sans";
  font-size: 48px;
  font-weight: 500; }
