.menu {
  position: relative;
  background: url(../img/menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  // filter: brightness(87%);
  color: #ffffff;

  &::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: rem(0px);
    right: 0;
    opacity: .2;
  }
}

.berry-3 {
  display: block;
  position: absolute;
  top: -9%;
  left: rem(33px);
  
@include tablets{
  z-index: 10;
}
  @include phones {
    width: 83px;
    height: 90px;
    top: -7%;
    left: 1.0625rem;
    z-index: 10;
  }
}

.menu__title {
  font-family: "Alegreya Sans";
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  padding-top: 9.46%;
  color: inherit;


  @include phones {
    font-size: 36px;

  }
}

.menu__list {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.menu_list-item {
  position: relative;
  display: flex;
  height: 100%;
}

.accordion__img {
  cursor: pointer;
}

.accordion__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(45%);

  @include tablets {
    width: 70px;

  }
}

.accordion__title {
  position: absolute;
  bottom: 5%;
  left: 0%;
  transform: rotate(180deg);
  color: inherit;
  writing-mode: vertical-rl;
  font-family: "Alegreya Sans";
  font-size: rem(48px);
  font-weight: 500;

  
  @include phones {
    font-size: 36px;
  }

}

.content_item-txt {
  padding: rem(50px) rem(30px) 0 rem(30px);
  font-family: "Alegreya Sans";
  font-size: rem(16px);
  font-weight: 400;
  line-height: 23.97px;
}


.content_item {
  position: relative;
  background-color: rgba(0, 0, 0, .7);
  color: #FFF;
  max-width: 0;
  overflow: hidden;
  transition: 1s;
  visibility: hidden;
  opacity: 0;

}

.menu_list-item_active .content_item {
  max-width: rem(540px);
  visibility: visible;
  opacity: 1;
  
  @include tablets {
    max-width: 35.75rem;
  }

  @include phones {
    max-width: 18.75rem;
  }
}