.product__prise {
  background-color: #f8faf9;
}

.muesli {
  display: block;
  position: absolute;
  left: 0;
  top: -28%;

  @include phones {}
}

.container__product_prise {
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include tablets {}
}


.slider_wrap {
  overflow: hidden;


}



.slider_list {
  position: relative;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  transition: left .5s;
  transform: translateX(0);
  padding-top: 20%;

  @include tablets {
    padding-top: 8%;
  }

  @include phones {}
}

.slider_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;


  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

}

.feature_left {
  width: 50%;


}

.slide_img {
  width: rem(363px);
  height: rem(383px);

  @include tablets {
    width: rem(290px);
    height: rem(306px);
  }

}

.feature_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0 0 0;


  @include tablets {}
}

.consist__img {
  width: rem(90px);
  height: rem(90px);
  background-color: #00accf;
  position: absolute;
  border-radius: 10%;
  top: 14%;
  right: 40%;


  &:hover>.composition {
    opacity: 1;
  }

  @include tablets {
    top: rem(20px);
    right: 0;


  }
}

.img-txt {
  position: relative;
  color: #ffffff;
  font-family: "Alegreya Sans - Black Italic";
  font-size: rem(14px);
  font-weight: 400;
  text-transform: uppercase;
  top: 71%;
  right: -17%;

}

.consist__title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: rem(36px);
  font-weight: 700;
  text-transform: uppercase;
}

.consist__txt {
  color: #666666;
  font-family: "Alegreya Sans";
  font-size: rem(18px);
  font-weight: 400;
  margin: 5% 0 0 0;
}

.consist_disc {
  color: #333333;
  font-family: "Alegreya Sans";
  font-size: rem(18px);
  font-weight: 400;
}

.calory {
  color: #333333;
  font-family: "Alegreya Sans";
  font-size: rem(18px);
  font-weight: 700;
}

.consist_calory {
  margin-top: 2.5rem;
  width: 35%;
}

.consist_weight {
  margin-top: 2.5rem;
  width: 65%;
}

.consist__price {
  margin-top: 2.1875rem;
  width: 35%;
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: rem(60px);
  font-weight: 300;
  line-height: rem(60px);
  text-transform: uppercase;
}

.consist__order {
  margin-top: 3.1875rem;
  width: 65%;
}

.ingr {
  position: absolute;
  width: rem(87px);
  height: rem(51px);
  fill: #ffffff;
  margin: rem(5px) auto;
}

.slider {
  position: absolute;
  width: 1.3125rem;
  height: 1.3125rem;
  top: 40%;

  @include tablets {
    top: 20%;
  }

}

.slider_left {
  left: -7%;
  position: absolute;

  @include tablets {

    left: 20%;
  }

}

.slider_right {
  right: 3%;
  position: absolute;

  @include tablets {
    
    right: 20%;
  }

  @include phones {}

}

.arrow {
  width: 184%;
  transform: rotate(90deg);
}

.arrow-2 {
  width: 184%;
  transform: rotate(270deg);
}


.composition {
  position: absolute;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 3%;
  left: 105%;
  width: rem(270px);
  height: rem(382px);
  background-color: #ffffff;
  font-family: "Alegreya Sans";
  opacity: 0;
  transition: .6s;

  @include tablets {
    left: -330%;
  }

}

.conposition_item {

  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  padding: rem(5px) rem(5px);

}

.swg {
  fill: black;
  width: rem(25px);
  height: rem(35px);

}

.composition_name {
  color: #333333;
  font-family: "Alegreya Sans";
  font-size: rem(16px);
  font-weight: 500;
  line-height: rem(24px);
  text-align: left;
}

.composition_weight {
  color: #343333;
  font-family: "Alegreya Sans";
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(24px);
}