.video {
  background-color: #f8faf9;
}

.berry2 {
  display: block;
  position: absolute;
  left: 0;
  top: -17%;
}

.video_decor-right{
  display: block;
  position: absolute;
  right: 22%;
  top: 20%;
}

.video_decor-left{
  display: block;
  position: absolute;
  left: 20%;
  bottom: 10%;
}

.video {
  width: 100%;
}

.container_video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video_title {
  color: #0d0d0d;
  font-family: "Alegreya Sans";
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5%;
}


.video__player {
  position: relative;
  max-width: rem(660px);
  /* max-height: rem(365px); */
}

.video__player-img {
  position: absolute;
  left: rem(307px);
  top: rem(149px);
  cursor: pointer;
}

.video__player-img--active {
  opacity: 0;
}

#player {
  min-width: rem(660px);
  max-width: rem(660px);
  min-height: rem(370px);
  max-height: rem(370px);
}

.video__toolbar {
  width: rem(658px);
  height: rem(30px);
  background-color: #3e3e3e;
  margin-top: rem(-4px);
  display: flex;
}

.duration {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}


.duration__length {
  width: 100%;
  height: rem(4px);
  border-radius: rem(1px);
  background-color: #626262;
  -webkit-appearance: none;
  outline: none;
  margin-left: 8%;
  align-self: center;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background: #626262;
    cursor: pointer;
  }
}


.sound {
  display: flex;
  align-items: center;
  padding-left: rem(30px);
}

.duration__img {
  padding: rem(5px) rem(20px);
  cursor: pointer;

}


.sound__mic {
  cursor: pointer;
}

.sound__volume {
  margin: rem(-3px) rem(26px) rem(0px) rem(11px);
}

.duration__length--other {
  width: rem(58px);
  height: rem(4px);
}

.duration__play {
  width: 0;
  height: 0;
  border: rem(13px) solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  position: absolute;
  top: 9%;
  left: 3%;
  outline: none;
  cursor: pointer;
}

.duration__play--active {
  width: 2%;
  height: 70%;
  border: none;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: rem(4px);
    top: 0;
    bottom: 0;
    background: #626262;
  }

  &:after {
    right: 0;
  }

  &:before {
    left: 0;
  }
}