html {
  @include tablets {
    font-size: rem(15px);
  }

  @include phones {
    font-size: rem(14px);
  }
}

.header__nav {
  display: flex;
}

.welcome {}

.welcome-page {
  display: flex;
  background-image: url(../img/backgroundone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include tablets {
    background-image: url(../img/bgadapt.jpg);
   
  }
  }

  .main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include tablets {
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 35%;
      height: 100%;

      
  @include phones{
    padding-top: 65%;
  }
    }
  }

  @include tablets {
    width: 100%;
    align-items: center;
    justify-content: center;
    

  }

  @include phones {
    margin-top: 6%;
  }



.leaf,
.delivery,
.tape {
  fill: transparent;
  stroke: #b0f7ff;
  width: rem(44px);
  height: rem(41px);
}


.icon-tel {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: rem(24px);
  font-weight: 400;
  line-height: rem(30px);
  text-transform: uppercase;
  

  &:before {
    content: url(../img/icon_png/phone_.png);
    margin: 0 5%  0;
  }
}

.content__title {
  color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: rem(60px);
  font-weight: 700;
  line-height: rem(60px);
  text-transform: uppercase;
  margin-top: rem(100px);

  @include tablets {
    margin-top: 0.25rem;
  }
}

.content__txt {
  color: #ffffff;
  max-width: 23.375rem;
  font-size: 1.3125rem;
  font-weight: 400;
  margin-block-end: 0;
  margin-bottom: 2.875rem;
  margin-top: rem(22px);
  
  @include tablets {
   
  }
}

.content-button {
  background-color: #ffffff;
  box-shadow: 0 0 rem(10px) rgba(63, 63, 63, 0.25);
  font-family: "Alegreya Sans - Extra Bold";
  font-size: rem(19px);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #0f5a47;
  border-radius: rem(30px);
  padding: rem(20px) rem(34px);

  &:hover {
    background-color: #61c4d9;
    border: rem(2px) solid #00accf;
    color: #0f5a47;
  }
}

.content-button:active {
  background-color: #ffffff;
  color: #0f5a47;
}

.content__icon {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.content__right {
  width: 40%;

  @include tablets {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  @include phones {
    width: 75%;
    text-align: center;

  }
}


.delivery__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: rem(16px);
  font-weight: 400;

}

.leaf__txt {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: rem(16px);
  font-weight: 400;
}

.pros {
  width: 50%;
  display: flex;
  z-index: 30;
  margin-top: 30%;

  @include tablets {
    margin-top: 11%;
    margin-bottom: 7%;
  }
}


.pros__item {
  display: flex;
  margin-right: 20%;

  @include phones {
    margin-right: 4%;
  }
}

.svg__vrap {
  margin-right: rem(10px);
}

.leaf__txt {
  max-width: 54.66%;
  font-size: 1em;
}

.content__left {
  width: 50%;

  @include tablets {
 width: 0%;
  }

}

.bar {
  position: absolute;
  top: rem(48px);
  right: 22%;

  @include tablets {
    width: 45%;
    height: 43%;
    position: absolute;
    top: 0;
    right: 27%;
  }

 @include phones{
  width: 72%;
    height: 45%;
    position: absolute;
    top: rem(9px);
    right: 15%;
 }
}

.decor {
  position: absolute;
  top: 60%;
  right: 16%;

  @include tablets {
    width: 48%;
    height: 31%;
    position: absolute;
    top: rem(107px);
    right: 19%;
  }

  @include phones{
    width: 67%;
    height: 25%;
    position: absolute;
    top: 20%;
    right: 10%;
  }
}

.leaf-welcome{
  position: absolute;
  left: 12%;
  top: 91%;
 
  @include tablets {
    width: 7%;
    height: 13%;
    position: absolute;
    top: 25%;
    left: 27%;
}

@include phones{
  width: 11%;
  height: 11%;
  top: 30%;
  left: 14%
}
  } 
