
.welcome-page{
  background: url("../img/welcome.jpg") center center /cover no-repeat;
  position: relative;
 }

  .main{

  &__container{
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

.icon-tel{
color: #ffffff;
font-family: "Alegreya Sans";
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-transform: uppercase;

&:before{
  content: url(../img/icon_png/phone_.png);
  margin: 0 5px 0 0; 
  }
}

.content__title {
  width: 404px;
  height: 160px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
   }

.content__txt {
  width: 341px;
  height: 45px;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 21px;
  font-weight: 400;
  margin: 0 0 70px 0;
  }

.content__button {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(63, 63, 63, 0.25);
  font-family: "Alegreya Sans - Extra Bold";
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  padding: 24px 34px ;
  }

.content__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
  margin: 68px 0 50px 50px; 
}

.leaf_icon {
  width: 84px;
  height: 52px;
  color: white;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400;
  position: relative; 

  &:before {
    content: "";
    position: absolute;
    width: 44px;
    height: 41px;
    display: block;
    background: url(../img/icon_png/leaf.png) no-repeat;
    right: 90px; 
  }
}

.car_icon {
  width: 60px;
  height: 49px;
  position: relative;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400;
  margin: 0px 46px 0px 48px;
  
  &:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    display: block;
    background: url(../img/icon_png/car.png);
    right: 70px;
  }
}

.tape_acon {
  width: 57px;
  height: 49px;
  position: relative;
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 16px;
  font-weight: 400;
  
   &:before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    display: block;
    background: url(../img/icon_png/tape.png);
    right: 67px;
   }
}

.left_img{
 margin: 0 0px 0px 60px; 
}

.content__right{
width: 40%;
}

.content__left{
width: 60%;
}