#burger-wrap {
  width: rem(24px);
  height: rem(24px);
  display: flex;
  position: fixed;
  top: 1.875rem;
  right: 1.875rem;
  

}

.burger {
  display: none;
 

  @include tablets {
    z-index: 20;
    border-radius: 2px;
    position: relative;
    display: flex;
    background-color: #fff;
    width: 24px;
    height: 4px;
  }

  &::before {
    border-radius: 2px;
    position: absolute;
    bottom: 9px;
    content: "";
    width: 24px;
    height: 4px;
    background-color: #fff;
    
    
  }

  &:after {
    border-radius: 2px;
    position: absolute;
    top: 9px;
    content: "";
    width: 24px;
    height: 4px;
    background-color: #fff;
    
  }
}



