.burger-wrap {
  width: rem(24px);
  height: rem(24px);
  align-items: center;
  vertical-align: middle;
  display: none;

  @include tablets {
    display: flex;
  }
}

 .burger{
  width: rem(24px);
  height: rem(4px);
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  right: 0;
  margin-right: 25PX;

  &:before {
    content: "";
    width: rem(24px);
    height: rem(4px);
    position: absolute;
    bottom: rem(9px);
    border-radius: rem(2px);
    background-color: #fff;
  }

  &::after {
    content: "";
    width: rem(24px);
    height: rem(4px);
    position: absolute;
    background-color: #fff;
    top: rem(9px);
    border-radius: rem(2px);
  }
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: rgba(253, 253, 253, 0.95);
  visibility: hidden;
  opacity: 0;
  }
  
  .modal_active .modal{
  visibility: visible;
  }

  .mobile-menu__item{
color: #ffffff;
font-family: "Alegreya Sans";
font-size: 36px;
font-weight: 700;
line-height: 40px;
text-transform: uppercase;
  }


  


  