.fixed-menu {
  position: fixed;
  top: rem(177px);
  right: rem(172px);
  z-index: 2;

  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}

.fixed-menu__dot {
  display: block;
  height: rem(20px);
  width: rem(20px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  margin-bottom: rem(3px);
  position: relative;
  

  &--active {
    border-color: white;
    box-shadow: 0 0 10px #053d49;
    border-radius: 50%;
  }

  &:before {
    content: '';
    width: rem(6px);
    height: rem(6px);
    background-color:blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
}


  
   
  