
.nav{
margin-left: 50px;
}

.nav__link {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 30px 0 0; 
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
 }