.nav {
  margin-left: rem(50px);
}

.nav__link {
  color: #ffffff;
  font-family: "Alegreya Sans";
  font-size: rem(18px);
  font-weight: 400;
  line-height: rem(30px);
  margin: 0 rem(30px) 0 0;

  &:hover {
    color: #00accf;
  }

  @include tablets {
    display: none;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}